@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  color: white;
  /* background-color: #8d99ae; */
  background-color: #2b2d42;
}
.nav_bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #2b2d42;
  background-color: #f8f32b;
}
.nav_bar .links {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.nav_bar a {
  margin: 10px;
  padding: 6px;
  text-decoration: none;
}
.nav_bar a:hover {
  color: white;
  background-color: #2b2d42;
}

/* journey_grid_container
journey_grid_button */
